.test {
  background: var(--color-bg-variant);
  padding: 10px;
}

.test h1 {
  font-family: "Luckiest Guy", cursive;
  color: black;
}

.test h3 {
  font-family: "Luckiest Guy", cursive;
  font-weight: lighter;
  color: black;
}

.testimonial-container {
  align-items: center;
  justify-content: center;
  padding: 10px;
  text-align: center;
}

.buttons {
  margin: 5px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buttons button {
  padding: 10px 5%;
  color: var(--color-white);
  border: none;
  border-radius: 5px;
  background-color: var(--color-primary-variant);
}
